<ul class="nav nav-tabs card-header-tabs icon-font-size">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/advanced-search']" routerLinkActive="active" title="Advanced Search"><i class="fa fa-search" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/annotation']" routerLinkActive="active" title="Annotation"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/layer']" routerLinkActive="active" title="Layer"><i class="fa fa-map" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/journey-planner']" routerLinkActive="active" title="Journey Planner"><i class="fa fa-street-view"
                aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/appointment']" routerLinkActive="active" title="Appointment"><i class="fa fa-address-book-o"
                aria-hidden="true"></i></a>
    </li>
</ul>